body{
	background: url(../images/bak.jpg) 0 0;
	font-size: 1em;
}
.container{
	max-width: 45%;
	margin: 0 auto;
	padding: 10px;
}

.available, a{
	color: #07935a;
}

a{
	text-decoration: none;
}

h1, h2, dt a{
	color: #66afe2;
	text-shadow: 2px 2px #000;
}

h3, em
{
	color: #e0448b;
}
dt{
	border-top: 1px dashed #ccc;
	padding-top: 20px;
	margin-bottom: 20px;
}

dd{
	margin:0;
	margin-bottom: 20px;
}

header{
	background: #3e1e10;
	padding: 20px;
	color: #CCCCCC;
	border-radius: 30px;
}
p{ 
	color: #CCCCCC;
}